@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  font-family: "Inter";
}

.name {
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  text-align: center;
}
